:root {
   --main-txt-color: #212121;
   --part-txt-color: #ffffff;
  --accent-color: #2196f3;
  --accent-bg-color: #2196f3;
  --main-bg-color: #ffffff;
  --sec-txt-color: #757575;
  --features-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  }
html {
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
  .site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    letter-spacing: 0.02em;
  
  }

 .conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid #2196f3;
  
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  
}
body {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
  background:var(--main-bg-color);
}
.title {
font-family: "Roboto", sans-serif;
color: var(--part-txt-color);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

margin-bottom: 30px;

}
.conteiner-title{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid #2196f3;

  display: flex;
  flex-direction: column;
align-items: center;

}
  

h1,h2, h3, h4{
  margin: 0;
}
.logo{
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--main-txt-color);
}
.logo-part {
  color:var(--accent-color);
}
.hidden {
color: var(--part-txt-color);
}
.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-list {
  list-style: none;
  display: flex;
  }
  .menu-list li {
  padding-top: 30px;
  padding-bottom: 30px;
 background-color: #e7bfe7;
margin-right: 50px;

  }
.menu-item {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em; 
color: var(--sec-txt-color)
  }
  .menu-item:focus,
  .menu-item:hover {
  color: var(--accent-color);
  }

.menu-link:focus,
.menu-link:hover {
  color:var(--accent-color);
  }
.btn:hover,
 .btn:focus{background: var(--accent-bg-color);
color: var(--features-bg-color);
}

.subtitle {
font-style: normal;
font-weight: bold;
font-size: 36px;
text-align: center;
letter-spacing: 0.03em;
color:  var(--main-txt-color);


margin-top: 0;
margin-bottom: 0;
padding-bottom: 50px;
align-items: center;

}


.heading {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.heading-item {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--part-txt-color);
background:  #f0f0f0
}


.text { 
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;
color: var(--sec-txt-color);

}
ul {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

.section {
list-style:none;
display: flex;
}

 .headline {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

 }


.user{
 background:var(--features-bg-color);

 margin-bottom: 94px;
}

.caption{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color:var(--sec-txt-color);
}

.footer{
font-family: "Roboto", sans-serif, 
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
background: var(--footer-bg-color) ;
} 

.logo-footer{
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--part-txt-color);

}
.logo-footerpart {
  color: var(--accent-color);
}

.contacts {
font-style: normal;
color: var(--part-txt-color);
}

.contacts-item {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.aside {
font-weight: bold;
line-height: 1.14;
text-transform: uppercase;
color:var(--part-txt-color);
}

.button {
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
display: inline-block;
letter-spacing: 0.06em;
color: var(--part-txt-color);
background:var(--accent-bg-color);
width: 200px;
height: 50px;
border: transparent;
border-radius: 4px;
padding: 10px 32px;

}
.button:focus,
 .button:hover {background:var(--accent-bg-color);
color: var(--features-bg-color);


}
.features{
  width: calc((1200-30px)/3);
 margin-bottom: 94px;
}

.what-we-do {
/*width: calc((1200-30px)/3);*/
margin-bottom: 94px;
}

.what li {
  margin-right: 30px;
}

.what {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  }
  


